:host {
  display: block;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  padding: 9px 0;
  gap: 25px;
}

.nav-item a {
  font-size: var(--fs-body-small);
  color: var(--color-gray-dark);
  transition: color 0.3s ease;
}

.nav-item a.active {
  font-weight: var(--fw-bold);
  color: var(--color-accent-green);
}

.nav-item a:hover {
  color: var(--color-dark);
}
