<footer>
  <div class="footer-content container">
    <section class="footer-info">
      <h2>Say hello and let's work together !</h2>
      <address class="footer-contact">
        <p>Email: <a href="mailto:alex@creativeblog.ru">alex@creativeblog.ru</a></p>
        <p>Телефон: <a href="tel:+7 (999) 123-45-67">+7 (999) 123-45-67</a></p>
      </address>
      <div class="socials">
        <a href="https://vk.com/nelsom">
          <img src="assets/icons/vk-icon.svg" alt="vk">
        </a>
        <a href="https://t.me/nelsom">
          <img src="assets/icons/telegram-icon.svg" alt="telegram">
        </a>
        <a href="https://github.com/nelsom">
          <img src="assets/icons/github-icon.svg" alt="github">
        </a>
      </div>
    </section>

    <section class="footer-form">
      <form action="">
        <div class="form-item">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="light" placeholder="Your email address" autocomplete="off">
          </div>
          <div class="input-group">
            <label for="message">Input your message</label>
            <textarea id="message" class="light" placeholder="Describe your project"></textarea>
          </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-submit">
      </form>
    </section>
  </div>

  <div class="footer-bottom container">
    <p class="copyright">&copy; 2026 Brand, Inc</p>
  </div>
</footer>
