form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-group label {
    color: var(--color-default);
}

.input-group .label-dark {
    padding-left: 8px;
    color: var(--color-dark);
}

.input-group input,
.input-group textarea {
    font-family: 'Inter', sans-serif;
    font-size: var(--fs-body);
    padding: 19px 0 19px 20px;
    border-radius: 5px;
    background: transparent;
}

.input-group textarea {
    height: 123px;
}

input.light,
textarea.light {
    color: #A3A6AD;
    border: 1px solid var(--color-light-border);
}

input.dark,
textarea.dark {
    color: var(--color-dark);
    border: 1px solid var(--color-dark-border);
}

.btn-group {
    display: flex;
    gap: 20px;
}
